

body{ 

   font-family: 'Actor';
   text-align: ;
    background: #93c9f2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 1500px 900px;
}

h1 {
   font-family: 'Sigmar One', cursive;
   font-size: 60px;
   text-align: center;
   color: #ffffff;

}

h2{ 

   font-family: 'Caveat Brush', cursive;
   font-size: 30px;
   color: #f79102;

}



a {
   text-decoration: none;
   font-family: 'Coming Soon', cursive;

}
a:link {
   color: #ffffff;
   border-bottom: 1px solid #1539ed;
}
a:visited {
   color: #ffffff;
   border-bottom: 1px solid #1539ed;
}
a:hover {
   color: #ffffff;
   border-bottom: 1px dashed #1539ed;
} 



div {
    text-align:justify;
}

img {
max-width: 100%;
}